.App {
  text-align: center;
}

.main__wrapper {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main__input-text {

}

.main__output-text span{
  
}

.App-link {
  color: #61dafb;
}
